.button-nav-bar {
  height: 3em;
  width: 3em;
  position: relative;
  display: inline-block;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  margin-left: 0.5em;
  background-color: #f96128;
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 #f96128;
}