.card {
  padding:0 70px;
}
.meaning-label {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
.meaning {
  font-size: 26px;
  font-weight: bold;
  color: #4a90e2;
  padding-bottom: 20px;
  text-align: center;
}
.searched_name {
  font-weight: bold;
  font-size: 1.5em;
  color: #f96128;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 20px;
}